<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/foto-gratis/colorida-cascada-majestuosa-bosque-parque-nacional-otono_554837-661.jpg?t=st=1721925026~exp=1721928626~hmac=8a248205298583d4e4caab5d533ea9838295f7e4736fa1c8f9ef8b125005478f&w=1380" class="imgCarrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/puente-madera-isla-koh-nangyuan-surat-thani-tailandia_335224-1082.jpg?t=st=1721924558~exp=1721928158~hmac=4f38b076add5786a813720b4d5da9aa9b752e49b66e4889d37857ca29b6cc70f&w=1380" class="imgCarrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/montanas-seoraksan-estan-cubiertas-niebla-manana-amanecer-seul-corea_335224-313.jpg?t=st=1721924570~exp=1721928170~hmac=3553ae059f22477678e9b6391f5382a384eeee42f1fe961a83565144d7eb969c&w=1380" class="imgCarrusel" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
