
<div class="body">
<!-- INICIO SECCIÓN CARRUSEL -->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/foto-gratis/colorida-cascada-majestuosa-bosque-parque-nacional-otono_554837-661.jpg?t=st=1721925026~exp=1721928626~hmac=8a248205298583d4e4caab5d533ea9838295f7e4736fa1c8f9ef8b125005478f&w=1380" class="imgCarrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/puente-madera-isla-koh-nangyuan-surat-thani-tailandia_335224-1082.jpg?t=st=1721924558~exp=1721928158~hmac=4f38b076add5786a813720b4d5da9aa9b752e49b66e4889d37857ca29b6cc70f&w=1380" class="imgCarrusel" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/foto-gratis/montanas-seoraksan-estan-cubiertas-niebla-manana-amanecer-seul-corea_335224-313.jpg?t=st=1721924570~exp=1721928170~hmac=3553ae059f22477678e9b6391f5382a384eeee42f1fe961a83565144d7eb969c&w=1380" class="imgCarrusel" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- FIN SECCIÓN CARRUSEL -->



<!-- INICIO SECCIÓN SOBRE NOSOTROS -->
<div class="seccionSobreNosotros">
  <h1>Sobre Nosotros</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem vitae non ut tempora, quia dolore molestiae earum eligendi repellendus quam ea sunt ab culpa blanditiis recusandae itaque optio dicta quis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illo labore magni quisquam voluptates reiciendis esse laudantium necessitatibus ad facilis voluptatem hic consequatur asperiores natus sit odio blanditiis, iure eveniet?
    Odio unde soluta sapiente quas accusantium harum commodi dolore perferendis dignissimos velit quis repellendus, cupiditate saepe, id exercitationem aspernatur omnis explicabo sunt facere molestias. Aliquam quis velit sit? In, rerum.
    Eius nobis omnis libero sed blanditiis sunt doloribus adipisci rem, voluptates repellendus quis iure quibusdam voluptatibus reprehenderit voluptate assumenda laudantium sapiente minus sequi delectus perspiciatis! Velit possimus a at numquam?</p>
</div>
<!-- FIN SECCIÓN SOBRE NOSOTROS -->

<!-- INICIO SECCIÓN MISIÓN Y VISIÓN -->

<div class="container text-center margen">
  <div class="row g-5">
    <div class="col espacio1">
      <h2>Misión</h2>
      <p class="parrafo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sed earum, magnam fugiat incidunt asperiores hic quidem eos omnis non voluptatibus. Minima omnis recusandae commodi porro optio corporis, doloribus facere.
      Voluptates unde quis modi quaerat quas qui necessitatibus excepturi amet ipsam, distinctio corrupti quisquam autem sit laboriosam porro inventore ea. Molestiae totam exercitationem fuga quae assumenda expedita laudantium, soluta ducimus.</p>
    </div>

    <div class="col espacio2">
      <h2>Visión</h2>
      <p class="parrafo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sed mollitia commodi fugiat quia ipsa eum nesciunt soluta obcaecati. Laudantium sed nobis officia earum quod pariatur nesciunt, culpa unde nihil!
      In dolores ipsa quam eius nemo, amet quos eos, dignissimos aliquam a vero, dolorum ipsum aspernatur illum assumenda ad nostrum eum earum quas ratione alias sapiente? Ipsa nobis consectetur nesciunt?</p>
    </div>
  </div>
</div>

<!-- FIN SECCIÓN MISIÓN Y VISIÓN -->


</div>