<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Paquete Completo</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi eos perferendis consectetur omnis ex mollitia beatae! Incidunt architecto illum delectus. Magnam amet, natus impedit tenetur eius omnis sapiente ea?</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Paquete Semi-completo</h5>
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa accusamus officiis eligendi explicabo esse nobis, velit alias facere rem quam incidunt quis ipsam doloribus nemo. Autem debitis incidunt facilis quasi!</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Paquete Medio</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet soluta repellat sit perspiciatis qui consequatur, asperiores delectus eius nam fugiat vel quod a, non exercitationem esse aspernatur ad ducimus voluptatibus?</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Paquete Básico</h5>
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae a eaque laborum aliquid, quos repellat. Incidunt fuga a ducimus sequi facilis velit omnis rerum autem qui cumque, iure sunt id?</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>