/* You can add global styles to this file, and also import other style files */


:root{
    --grisOscuro: #111111;
    --blanco: #e4e4e4;
    --turquesa: #007f92;

    --typografiaTitulos: Arial, Helvetica, sans-serif;
    --typografiaTexto: sans-serif;
}

