/* You can add global styles to this file, and also import other style files */


:root{
    --colorFondo: #111111;
    --colorTexto: #e4e4e4;
    --colorEnfasis: #007f92;

    --typografiaTitulos: Arial, Helvetica, sans-serif;
    --typografiaTexto: sans-serif;
}

